.heading {
    text-align: center;
    color: #454A4E;
    font-weight: normal;
}

div.bookingContainer {
    text-align: center;
    background: #EFECEC;
    width: 400px;
    height: auto;
    border-radius: 20px;
    left: calc(50vw - 200px);
    position: absolute;
    padding: 20px;
}

div.block {
    margin: 10px;
    display: block;
}

.nameInp {
    min-width: 300px;
}

div.timeDetails {
    text-align: center;
    margin: 20px;
    left: calc(50vw - 100px);
    top: 250px;
    position: absolute;
}

div.details, div.time {
    margin: 10px;
}

button.bookButton {
    position: absolute;
    left: calc(50vw - 50px);
    top: 350px;
    background: #FFFFFF;
    height: 50px;
    width: auto;
    font-size: 20px;
    padding: 2px 20px 2px 20px;
    border-radius: 25px;
}

